<!DOCTYPE html>
<html>
<head>
    <title>Water Tank Interactive</title>
    <style>
        table {
            border-collapse: collapse;
            margin-top: 20px;
        }
        td {
            width: 30px;
            height: 30px;
            border: 1px solid black;
        }
        .block { background-color: #000000; }
        .water { background-color: #00b7ff; }
    </style>
</head>
<body>

<h2>Water Tank – Interactive Visualization</h2>

<input id="arrayInput" 
       placeholder="Enter heights: e.g. 0,4,0,0,6,0,6,4" 
       size="50">

<button onclick="computeWater()">Compute</button>

<div id="result"></div>
<div id="grid"></div>

<script src="/static/script.js"></script>
</body>
</html>
